.part-one{
    color: green;
}
.part-two span{
    color: red;
}
.background-yellow{
    background-color: yellow;
}
.background-pink{
    background-color: pink;
}
.red-text{
    color: red;
}
.blue-text{
    color: blue;
}